
{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}



 
{% block content %} 
    <div class="container">
      <div class="row">
      <!-- displaying  Username-->
        <div class="col-md-4">
          <h3> {{user.username| capitalize}} </h3>
      
          <!--Displaying user bio-->
          {% if user.bio %}
            <p> {{user.bio}}</p>
          {%else%}
            <p> {{user.username| capitalize}} has no bio </p>
          {% endif %}
        </div>
      
        <!--Display profile photo-->
        <div class="col-md-8">
      
          {% if user.profile_pic_path %}
          <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
          {%else%}
          <p>No profile picture</p>
          {% endif %}
        </div>
        {% if user == current_user %}
        <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
        {% endif %}
      </div>
      </div>
      <div class="container">
        {% if user == current_user %}
        <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
    
          <input type="file"  name="photo" class="form-control" required>
          <input type="submit">
        </form>
        {% endif %}

      </div>      
          </div>
          
        </div>
        <div class="pitch">
          <h3>  Post A Pitch  </h3>
          <p>Click the button below to add Pitches</p>
          <a href=" {{url_for('main.write_pitch')}} "> <button> click Me  </button></a>
         </div>
         {% if posts%}
         <h2>Your posts are</h2>
          {% for post in posts%}
         <div class="container">
          {{post.category}}
          {{post.about}}

          {% endfor %}
          
         </div>
         {% endif%}
        <a href="{{url_for('main.index')}}"> <button>Back Home</button></a>
        
    

{% endblock %}
