<!-- <div class="container login-page">
	<div class="post mt150">
	    <header>
	        <h1>
	            Sign in to Account
	        </h1>
	    </header>
	    <div id="wrapper" class="home mt20">
		    <div class="archive">
	            <form action="" method="POST" role="form">
	            	{{ login_form.csrf_token }}
	            	<div class="form-group">
	            		{{ login_form.username(class_="form-control squared",placeholder="Username",autocomplete="off") }}
	            	</div>
	            	<div class="form-group">
	            		{{ login_form.password(class_="form-control squared",placeholder="Password",autocomplete="off") }}
	            	</div>
	            	{{ login_form.login(class="btn btn-primary btn-block btn-no-radius btn-padding") }}
	            </form>
	            	
	        </div>
    	</div>
	</div>
</div> -->


<div class="container"> 
	<div class="row">
		<div class= "col-md-2"> </div>
		<div class="col-md-8">
	
		{% for message in get_flashed_messages() %}
			<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
			</div>
		{% endfor %}
	
		{{wtf.quick_form(login_form)}}
		<p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
	 </div>
	 <div clas="col-md-2"> </div>
	</div>
</div>