{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('.static',filename='css/index.css')}}">
{% endblock %}

{% block content %}


<div class="container">
    {% if posts %}
    <div class="card" style="width: 18rem;">
      {% for post in posts %}
      <h3> Post Written by: {{post.get_author(post.writer)}}  </h3>
      <div class="card-body">
        <h5 class="card-title">its in {{post.category}} Category</h5>
        <p class="card-text">The post is <i> {{post.about}} </i></p>
        <a href=" {{url_for('main.newComment',comment_id=post.id)}} ">Click to add comment</a>
      </div>
    </div>
        {% if post.get_comments(post.id) %}
        
        <h2> Here are the comments </h2>
        <div class="container comments"style="display:flex">
          {% for comment in post.get_comments(post.id) %}
          <p>
            {{comment.get_writer(comment.writer)}} commented that:<br>
  
            {{comment.about}}
          </p>
           
        </div>
      {% endfor %}
        {% else %}
        
        <p> There are no comments available on this post </p>
  
        {% endif %}
  
         {%endfor%} 

      </div>

    {%else%}

    <p>Be the first to add a post </p>

    {% endif %}
</div>
<footer class="registerUser" id="footer">
	<p class="small">
			Powered by © Copyright 2022
			<i class="fa fa-heart" aria-hidden="true"> Cheeks Cloud</i> 
	</p>
</footer>


{% endblock %}